.topbar a, .hamburger i{
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: #704104;
	font-weight: bold;
	font-size: 26px;
	word-spacing: 30px;
}

.topbar a:hover, .hamburger i:hover {
	background-color: #704104;
	color: #fff;
}

.hamburger{
	display: none;
}

#logo{
	width: 400px;
	margin-left: 30px;
}

#top{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.2);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;

}

/* style papad image */
main, footer{
	position: relative;
	top: 68px;
	padding-top: 60px;
}

#home-box, .ingredients-row, .features-row, .order-row, .news-row, .img-gallery{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#home-box{
	align-items: center;
	padding: 30px 0 0 0;
}

#home-box img{
	width: 65%;
	height: auto;
}

#home-text{
	font-size: 30px;
	width: 40%;
	padding: 0 0 0 35px;
	margin: 0 25px;
	color: #704104;
	text-shadow: 2px 2px 8px #b4b2b2;
	font-family: Brush Script MT;
}